<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>
        <header>
            <h1>Common Ground Partners</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/community-standards">community standards</a></li>
            </ul>
        </nav>
        <main>
            <section>
                <h2>Een Common Ground Community</h2>
                <p>Binnen Common Ground is er een groeiend aantal bedrijven dat gezamenlijk projecten wil oppakken en zich wil committeren aan gedeelde <a href="/community-standards">community standards</a>. De Common Ground Partners community organiseert bijeenkomsten en (online) samenwerkingen.</p>
            </section>

            <section>
                <h2>Partners</h2>
                <p></p>
            </section>

            <section>
                <h2>Kanalen</h2>
                <h3>Code for NL</h3>
                <h3>Common Ground</h3>
            </section>

            <section>
                <h2>Events</h2>
                <p>Donderdag 9 december: Common Ground Partners Meetup in Mibo</p>
            </section>
        </main>
        <foorter>
            <section>
                <h2>Op Github</h2>
                <p><a href="https://github.com/Common-Ground-Partners">https://github.com/Common-Ground-Partners</a></p>
            </section>
        </foorter>
    </body>
</html>