<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <section>
                <h1>Common Ground Partners</h1>
                <h2>Samenwerken aan Common Ground</h2>
                <img style="width: 400px; max-width: 100%; margin-top: 40px;" src="/img/common-ground-partners-placeholder.png">
            </section>
        </header>
        <main>
            <section>
                <h2>Manifest [aanzet]</h2>
                <p>Overheid en software zijn twee potentieel gigantische versnellers voor positieve verandering.</p>
                <p>Goede software maken, zeker voor een snel veranderende overheid, vergt veel verschillende expertises.</p>
                <p>De markt voor overheidssoftware wordt gedomineerd door een hand vol grote, machtige bedrijven.</p>
                <p>Voor een gezonde, innovatieve markt voor publieke software en om de expertise van kleine, specialistische bedrijven beter te benutten moet hier iets aan veranderen.</p>
                <p>Open samenwerking is het antwoord. Een transitie naar een gezonde markt voor publieke software, die open en eerlijke samenwerking stimuleert en faciliteert, die softwarekwaliteit en -onderhoud duurzaam borgt, en die open toegankelijk is en kansen biedt voor nieuwkomers en innovaties.</p>
                
                
                <p>Omdat wij als kleinere softwaremakers geloven dat betere publieke software begint met een betere manier van samen software maken, committeren wij ons - naar elkaar en Common Ground - aan de volgende pijlers:</p>
                <b>
                    <p>We geloven dat diversiteit en samenwerking tot betere software leidt. Kansen benutten we samen en we zoeken altijd de samenwerking op.</p>
                    <p>We zijn open, eerlijk en transparant. We delen onze kennis, kunde, ervaring en ideeën. We verwelkomen nieuwkomers en helpen ze op weg.</p>
                    <p>Hergebruik van code is de kern. We maken onze componenten en applicaties open source en goed geschikt voor (her)gebruik.</p>
                    <p>We delen onze tools. Faciliteiten en gereedschappen stellen we open beschikbaar.</p>
                    <p>We leveren kwaliteit. We controleren elkaar op kwaliteit, bruikbaarheid, herbruikbaarheid en onderhoudbaarheid.</p>
                    <p>We gedragen ons. We voorkomen pro-actief vendor lock-in en andere soorten lock-in.</p>
                    <p>We bouwen aan een ecosysteem. Een open geheel van code, data, standaarden, documentatie, applicaties en diensten.</p>
                    <p>We delen een <a href="#technologie-en-standaarden">stack</a>. We werken op basis van bewezen open (web) technologie en standaarden.</p>
                </b>
            </section>

            <section>
                <a name="technologie-en-standaarden"></a>
                <h2>Stack</h2>
                <p>Voor het ontwikkelen van nieuwe componenten stellen we een aantal <i>go-to</i> technologieën en standaarden vast. Dit zijn (bij voorkeur) bewezen open (web) technologieën en standaarden. Hiervoor geldt het "pas toe of leg uit" principe. Deze keuzes bespreken we tijdens onze bijeenkomsten.</p>
                <p>Versiebeheer: Git</p>
                <p>Documentatie: markdown</p>
                <p>Install: Haven</p>
                <p>Back-end frameworks: PHP/Symfony, Python/Django (versies), (.Net?), (Java?), ...</p>
                <p>Front-end frameworks: ...</p>
                <p></p>
                <p></p>
            </section>

            <section>
                <h2>Manifestpartijen</h2>
                <p></p>
            </section>

            <section>
                <h2>Bijeenkomsten</h2>
                <p>Maandelijks komen we bij elkaar om ideeën, kennis en ervaring te delen, kansen te pitchen, en elkaar beter te leren kennen.</p>
                <p>Wil je je als nieuwkomer presenteren? Graag! Neem contact op met ...</p>
            </section>
        </main>
        <footer>
            <section>
                <p>cc-by-sa-nc 2022 commongroundpartners.nl</p>
                <p>illustraties: https://undraw.co/illustrations</p>
            </section>
        </footer>
    </body>
</html>