<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <header>
            <section>
                <h1>Common Ground Partners</h1>
                <h2>Samenwerken aan Common Ground</h2>
                <img style="width: 400px; max-width: 100%; margin-top: 40px;" src="/img/common-ground-partners-placeholder.png">
            </section>
        </header>
        <main>
            <section>
                <h2>Manifest</h2>
                <p>Overheidssoftware heeft een slechte naam en dat is zonde: overheid en software zijn twee potentieel gigantische versnellers voor positieve verandering.</p>
                <p>Pendulum slingert de andere kant op, maar: de overheid kan het niet alleen. Open samenwerking is het antwoord.</p>
                <p>Het is lastig om vanuit de overheid een gezonde markt te organiseren voor publieke software. Eentje die open en eerlijke samenwerking stimuleert en faciliteert, softwarekwaliteit en -onderhoud duurzaam borgt en die open toegankelijk is voor nieuwkomers.</p>
                <p>Overheid en markt hebben zich lang als tegenpolen gepresenteerd, maar de publieke zaak is een publieke zaak.</p>
                <p>ICT falen. Megalomane projecten. Vendor lock-in. Een cultuurprobleem, geen techniekprobleem. Groot, groter, grootst en alles is voor Bassie.</p>
                <p>Omdat wij als kleinere softwaremakers geloven dat andere publieke software begint met een andere manier van publieke software maken, committeren wij ons naar elkaar en Common Ground aan de volgende pijlers:</p>
                <p>- We werken open, eerlijk en transparant</p>
                <p>- We maken open source (her)bruikbare componenten en applicaties</p>
                <p>- We werken samen aan open faciliteiten en gereedschappen</p>
                <p>- We controleren elkaar op kwaliteit, bruikbaarheid, herbruikbaarheid</p>
                <p>- We voorkomen vendor lock-in en zijn waakzaam voor technology lock-in</p>
                <p>- We bouwen aan een open ecosysteem van code, data, standaarden, documentatie, applicaties en diensten</p>
                <p>- We waarderen specialisme en werken pro-actief samen</p>
                <p>- We verwelkomen nieuwkomers en helpen ze op weg</p>
                <p>- We delen kennis en kunde</p>
                <p>- We borduren voort op open (web) standaarden en gangbare open technologie (kennis lock-in te voorkomen en toegangsdrempel laag houden)</p>
                <p>- We bouwen volgens <a href="#comm-std">community standards</a></p>
            </section>

            <section>
                <a name="comm-std"></a>
                <h2>Community Standards</h2>
                <p>Voor het ontwikkelen van nieuwe componenten stellen we een aantal <i>go-to</i> technieken vast. Hiervoor geldt het "pas toe of leg uit" principe. Deze keuzes bespreken we tijdens onze bijeenkomsten.</p>
                <p>Repo: Github</p>
                <p>Documentatie: markdown</p>
                <p>Install: Haven</p>
                <p>Back-end frameworks: PHP/Symfony, Python/Django (versies), (.Net?), (Java?), ...</p>
                <p>Front-end frameworks: ...</p>
                <p></p>
                <p></p>
            </section>

            <section>
                <h2>Manifestpartijen</h2>
                <p></p>
            </section>

            <section>
                <h2>Bijeenkomsten</h2>
                <p>Maandelijks komen we bij elkaar om ideeën en kennis te delen en elkaar beter te leren kennen.</p>
            </section>
        </main>
        <footer>
            <section>
                <p>cc-by-sa-nc 2022 commongroundpartners.nl</p>
                <p>illustraties: https://undraw.co/illustrations</p>
            </section>
        </footer>
    </body>
</html>